<h1>Fridges new one</h1>
<%= form_for @fridge do |f| %>
  <%= f.label :brand %>
  <%= f.text_field :brand %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.submit "Create" %>
<% end %>
